*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(223, 218, 218);

}
.container{
    margin: auto;
    width: 600px;
    height: 550px;
    display: flex;
    gap: 1px;
    background-color: blueviolet;
}
.column{
width: 100%;
height: 100%;
background-color: red;
display: flex;
flex: 1;
flex-direction: column;
gap: 1px;
}
.row{
    width: 100%;
    height: 200px;
    background-color: green;
}